---
---

@import "variables";
@import "elements";
@import "layout";

@media screen and (min-width: 0px) and (max-width: 720px) {
  #facebook { display: none; }
  .mobile-hide{ display: none; }
  #logo { 
      margin: 0 auto 2rem auto;
      width: 40%;
  }
  #intro{ text-align: center; }
  header{ padding-bottom: 0; }
}