---
layout: default
title: Datahack
---
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<header>
	<div class="container">
	    <div class="column blank"></div>
		<div class="column">
		    <div id="logo" style="width:70%">
		        <img src="{{ site.baseurl }}/images/dhlogo_no_text_no_pad.png" alt="Datahack" style="margin-top:0" />
		    </div>
		</div>
		<div class="column">
		    <div id="intro">
				<h1 class="editable">
					Datahack
				</h1>
				<p class="editable">
					Hacking diversity in data science &amp; AI
				</p>
			</div>
		</div>
		<div class="column blank"></div>
	</div>
</header>

<div class="container">
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/datahack_crowd_circle.png" alt="The Datahackers gather..." />
		</div>
		<div>
			<h2 class="editable">
				Our Mission
			</h2>

			<p class="editable">
                Datahack is an Israeli non-profit dedicated to hacking diversity in data science and machine learning in Israel. We focus on data science literacy and education and empowerment of underrepresented populations, especially women and the Arab and Druze society in Israel.
			</p>
		</div>
	</div>
</div>

<!--<header>-->
<!--	<div class="container">-->
<!--		<div class="column">-->
<!--			<div>-->
<!--			    <div class="container">-->
			        <!--<div class="column" width="20%">-->
			        <!--    <img src="{{ site.baseurl }}/images/dhlogo.svg" alt="Datahack"  height="10%" />-->
			             <!--style="float:left"-->
			        <!--</div>-->
<!--			        <div class="column" width="20%">-->
                          <!--<use xlink:href="{{ site.baseurl }}/images/dhlogo.svg"/>-->
                        <!--</svg>-->
			            <!--<img src="{{ site.baseurl }}/images/dhlogo_no_text.png" alt="Datahack" height="1em"/>-->
<!--			             <img src="{{ site.baseurl }}/images/dhlogo_no_text.png" alt="Datahack" style="height:20%;width:auto;position:absolute;bottom:0;left:0"/>-->
<!--			        </div>-->
<!--			        <div class="column" width="80%">-->
<!--			            <h1 class="editable" style="position:absolute;bottom:0;right:0">-->
			            <!--<h1 class="editable" style="position:relative;bottom:10px;display:inline">-->
			                 <!--<img src="{{ site.baseurl }}/images/dhlogo.svg" alt="Datahack"  height="1em" style="float:bottom" />-->
<!--			                Datahack-->
<!--			            </h1>-->
<!--			        </div>-->
                    <!--<img src="{{ site.baseurl }}/images/dhlogo_no_text.png" alt="Datahack" />-->


<!--                </div>-->

<!--				<p class="editable">-->
<!--					The Association for The Advancement of Data Science In Israel-->
<!--				</p>-->
				<!--<div class="button">-->
				<!--	<a href="#donate">Donate Now</a>-->
				<!--</div>-->
<!--			</div>-->
<!--		</div>-->
		<!--<div class="column">-->
		<!--	<img src="{{ site.baseurl }}/images/dhlogo_no_text.png" alt="Datahack"  width="70%" height="70%" />-->
		<!--</div>-->
<!--	</div>-->
<!--</header>-->

<div class="container">
	<h2 class="editable" style="text-align: center;">
		Our Projects
	</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="meetup" %}</div>
			<h3 class="editable">
				<a target="_blank" style="color:#3F21D6;text-decoration:none" href="https://www.meetup.com/DataHack/">DataTalks</a>
			</h3>
			<p class="editable">
				A <a target="_blank" style="color:#3F21D6;text-decoration:none" href="https://www.meetup.com/DataHack/">meetup series of deep technical ML talks</a> pairing industry with academia speakers, each hosted at a different company.
			</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="moon" %}</div>
			<h3 class="editable">
				<text style="color:#3F21D6;text-decoration:none"><a style="color:#3F21D6;text-decoration:none" target="_blank" rel="noopener" href="https://datanights-il.github.io/">DataNights</a></text>
			</h3>
			<p class="editable">
				Empowering women in the AI industry, <a style="color:#3F21D6;text-decoration:none" target="_blank" rel="noopener" href="https://datanights-il.github.io/">DataNights offer deep dive, hands-on courses</a> around a specific topic over several weeks.
            </p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="coach" %}</div>
			<h3 class="editable">
                <a href="https://www.datacoach.org.il/" target="_blank" style="color:#3F21D6;text-decoration:none">DataCoach</a>
			</h3>
			<p class="editable">
                <a href="https://www.datacoach.org.il/" target="_blank" style="color:#3F21D6;text-decoration:none">Coaching Arab STEM students</a> through master’s until the first data science position. Partners: <a href="https://innovationisrael.org.il/en/" target="_blank" style="color:#3F21D6;text-decoration:none">IIA</a>, Technion, Tsofen, Forter & more.
			</p>
		</li>
	</ul>

	<ul class="thirds">

		<li>
			<div class="image">{% include icons/site.html icon="kaggle" %}</div>
			<h3 class="editable">
				<a target="_blank" style="color:#3F21D6;text-decoration:none" href="https://www.facebook.com/groups/kaggleil/">KaggleIL</a>
			</h3>
			<p class="editable">
				<a target="_blank" style="color:#3F21D6;text-decoration:none" href="https://www.facebook.com/groups/kaggleil/">A community of Kaggle practitioners</a> gathering for shared work and knowledge sharing around ongoing Kaggle competitions.
			</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="hack" %}</div>
			<h3 class="editable">
				<text style="color:#3F21D6">DataHack</text>
			</h3>
			<p class="editable">
				A 3-day, yearly hackathon, drawing 350 participants and dozens of sponsoring companies to solve real-life problems with data science.
			</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="haifa" %}</div>
			<h3 class="editable">
				<a target="_blank" style="color:#3F21D6;text-decoration:none" href="https://www.meetup.com/Datahack-Haifa/">DataTalks HFA</a>
			</h3>
			<p class="editable">
				<a target="_blank" style="color:#3F21D6;text-decoration:none" href="https://www.meetup.com/Datahack-Haifa/">A Haifa-based meetup group</a> with both a series of deep ML lectures and the DataLearn HFA learning group.
			</p>
		</li>
	</ul>

	<!-- <ul class="thirds"> -->
	<!-- 	<li> -->
	<!-- 		<div class="image">{% include icons/site.html icon="conf" %}</div> -->
	<!-- 		<h3 class="editable"> -->
	<!-- 			&#60;&#33;&#45;&#45;<a href="https://www.dataconf.org" target="_blank" style="color:#3F21D6;text-decoration:none">DataConf</a>&#45;&#45;&#62;<text style="color:#3F21D6">DataConf</text> -->
	<!-- 		</h3> -->
	<!-- 		<p class="editable"> -->
	<!-- 			A yearly one-day free conference on data science and ML, with lectures by industry and academia experts. -->
	<!-- 		</p> -->
	<!-- 	</li> -->
    <!-- </ul> -->
</div>

<div class="darker">
	<div class="container">
		<h2 class="editable">
			Join us
		</h2>
		<p class="editable" style="text-align: center;">
            Sign up for our newsletter, or follow us <a target="_blank" style="color:#3F21D6;text-decoration:none" href="https://www.facebook.com/datahackil/">on Facebook</a>, <a target="_blank" style="color:#3F21D6;text-decoration:none" href="https://www.linkedin.com/company/datahack/">LinkedIn</a> or <a target="_blank" style="color:#3F21D6;text-decoration:none" href="https://www.meetup.com/DataHack">on Meetup.com</a>, to hear about our events and project launches! You can also <a target="_blank" style="color:#3F21D6;text-decoration:none"  href="https://forms.gle/GVFRQzYbXxWx76ik7"> sign up to volunteer!</a>
		</p>
		<form action="{{ site.newsletter_action }}" method="post">
			<input type="text" name="EMAIL" placeholder="Email" />
			<input type="submit" value="Newsletter Sign Up" />
		</form>
	</div>
</div>

<!--hiding this section on mobile done with this stackoverflow question and MARKED solution (not the first one): https://stackoverflow.com/questions/16922518/hide-div-on-mobile-devices-using-css-->
<!--The appropriate css code was inserted to the /css/screen.css file-->
<div class="mobile-hide">
    <div class="container">
    	<h2 class="editable" style="text-align: center;">
    		Our Team
    	</h2>

    	<div class="columns">

    	    <!--First Column-->
    		<div>
            	<blockquote> <!--row 1-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="image"><img class="editable" src="{{ site.baseurl }}images/team/gal_hever.jpg" alt="Gal Hever" /></span>
                            <span class="author editable"><strong>Gal Hever,<br> DataNights Lead</strong></span>
            			</p>
            		</div>
            	</blockquote>
            	<blockquote> <!--row 2-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="image"><img class="editable" src="{{ site.baseurl }}images/team/dolev_shelly.jpg" alt="Dolev Shelly" /></span>
            				<span class="author editable"><strong>Dolev Shelly, DataCoach Lead</strong></span>
            			</p>
            		</div>
            	</blockquote>
            	<blockquote> <!--row 3-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="image"><img class="editable" src="{{ site.baseurl }}images/team/bana.jpg" alt="Bana Sadi" /></span>
            				<span class="author editable"><strong>Bana Sadi, DataCoach</strong></span>
            			</p>
            		</div>
            	</blockquote>
            	<blockquote> <!--row 4-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="image"><img class="editable" src="{{ site.baseurl }}images/team/bar_eini_porat.jpg" alt="Bar Eini-Porat" /></span>
            				<span class="author editable"><strong>Bar Eini-Porat, DataTalks HFA</strong></span>
            			</p>
            		</div>
            	</blockquote>
            	<blockquote> <!--row 5-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="image"><img class="editable" src="{{ site.baseurl }}images/team/nitzan.jpg" alt="Nitzan Guberman" /></span>
            				<span class="author editable"><strong>Nitzan Guberman, Audit Committee</strong></span>
            			</p>
            		</div>
            	</blockquote>
            	<blockquote> <!--row 6-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="image"><img class="editable" src="{{ site.baseurl }}images/team/avihay.jpg" alt="Avihay Levi" /></span>
                            <span class="author editable"><strong>Avihay Levi,<br> DataTalks HFA</strong></span>
            			</p>
            		</div>
            	</blockquote>
        	</div>

        	<!--Second Column-->
    		<div>
            	<blockquote> <!--row 1-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="image"><img class="editable" src="{{ site.baseurl }}/images/team/shay.png" alt="Shay Palachy" /></span>
                            <span class="author editable"><strong>Shay Palachy Affek,<br> Founder & CEO</strong></span>
            			</p>
            		</div>
            	</blockquote>
            	<blockquote> <!--row 2-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="image"><img class="editable" src="{{ site.baseurl }}images/team/amnon_wahle.jpg" alt="Amnon Wahle" /></span>
            				<span class="author editable"><strong>Amnon Wahle, DataNights</strong></span>
            			</p>
            		</div>
            	</blockquote>
            	<blockquote> <!--row 3-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="image"><img class="editable" src="{{ site.baseurl }}images/team/nataly_kuritz.jpg" alt="Nataly Kuritz" /></span>
            				<span class="author editable"><strong>Nataly Kuritz, DataNights</strong></span>
            			</p>
            		</div>
            	</blockquote>
            	<blockquote> <!--row 4-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="image"><img class="editable" src="{{ site.baseurl }}images/team/wael_mattar.jpg" alt="Wael Mattar" /></span>
            				<span class="author editable"><strong>Wael Mattar, DataCoach</strong></span>
            			</p>
            		</div>
            	</blockquote>
            	<blockquote> <!--row 5-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="image"><img class="editable" src="{{ site.baseurl }}images/team/adam.jpg" alt="Adam Rosenthal" /></span>
            				<span class="author editable"><strong>Adam Rosenthal, Finance Officer</strong></span>
            			</p>
            		</div>
            	</blockquote>
            	<blockquote> <!--row 6-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="image"><img class="editable" src="{{ site.baseurl }}images/team/asaf.jpg" alt="Assad Valdersky" /></span>
            				<span class="author editable"><strong>Assaf Valdersky, Hackathons Team</strong></span>
            			</p>
            		</div>
            	</blockquote>
        	</div>

        	<!--Third Column-->
    		<div>
            	<blockquote> <!--row 1-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="image"><img class="editable" src="{{ site.baseurl }}images/team/inbar.jpg" alt="Inbar Naor" /></span>
                            <span class="author editable"><strong>Inbar Naor,<br> Founder; Retired</strong></span>
            			</p>
            		</div>
            	</blockquote>
            	<blockquote> <!--row 2-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="image"><img class="editable" src="{{ site.baseurl }}images/team/hila_paz.jpg" alt="Hila Paz Herszfang" /></span>
            				<span class="author editable"><strong>Hila Paz Herszfang, DataNights</strong></span>
            			</p>
            		</div>
            	</blockquote>
            	<blockquote> <!--row 3-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="image"><img class="editable" src="{{ site.baseurl }}images/team/yaron_scherf.jpg" alt="Yaron Scherf" /></span>
            				<span class="author editable"><strong>Yaron Scherf, DataNights</strong></span>
            			</p>
            		</div>
            	</blockquote>
            	<blockquote> <!--row 4-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="image"><img class="editable" src="{{ site.baseurl }}images/team/tom_beer.jpg" alt="Tome Beer, DataTalks Haifa" /></span>
                            <span class="author editable"><strong>Tom Beer,<br> DataTalks Haifa</strong></span>
            			</p>
            		</div>
            	</blockquote>
            	<blockquote> <!--row 5-->
            		<div class="attribute">
            			<p class="meta">
                            <span class="image"><img class="editable" src="{{ site.baseurl }}images/team/abed_asi.jpg" alt="Abed Asi" /></span><br>
                            <span class="author editable"><strong>Abed Asi,  <br> DataCoach</strong></span>
            			</p>
            		</div>
            	</blockquote>
            	<blockquote> <!--row 6-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="image"><img class="editable" src="{{ site.baseurl }}images/team/dana.jpg" alt="Dana Kaner" /></span>
            				<span class="author editable"><strong>Dana Kaner, Hackathons Team</strong></span>
            			</p>
            		</div>
            	</blockquote>
        	</div>

        	<!--Forth Column-->
    		<div>
            	<blockquote> <!--row 1-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="image"><img class="editable" src="{{ site.baseurl }}images/team/sharon.jpg" alt="Sharon Cooper" /></span>
            				<span class="author editable"><strong>Sharon Cooper, DataNights</strong></span>
            			</p>
            		</div>
            	</blockquote>
            	<blockquote> <!--row 2-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="image"><img class="editable" src="{{ site.baseurl }}images/team/topaz_gilad.jpg" alt="Topaz Gilad" /></span>
            				<span class="author editable"><strong>Topaz Gilad, DataNights</strong></span>
            			</p>
            		</div>
            	</blockquote>
            	<blockquote> <!--row 3-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="image"><img class="editable" src="{{ site.baseurl }}images/team/yaara_cohen.jpg" alt="Yaara Cohen" /></span>
            				<span class="author editable"><strong>Yaara Cohen, DataNights</strong></span>
            			</p>
            		</div>
            	</blockquote>
            	<blockquote> <!--row 4-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="image"><img class="editable" src="{{ site.baseurl }}images/team/rani_khoury.jpg" alt="Rani Khoury" /></span>
            				<span class="author editable"><strong>Rani Khoury, DataCoach</strong></span>
            			</p>
            		</div>
            	</blockquote>
            	<blockquote> <!--row 5-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="image"><img class="editable" src="{{ site.baseurl }}images/team/aviv.jpg" alt="Aviv Rotman" /></span>
                            <span class="author editable"><strong>Aviv Rotman,<br /> Audit Committee</strong></span>
            			</p>
            		</div>
            	</blockquote>
            	<blockquote> <!--row 6-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="image"><img class="editable" src="{{ site.baseurl }}images/team/new_recruit.jpg" alt="Maybe it's you?" /></span>
                            <span class="author editable"><strong>Maybe it's you?<br> <a target="_blank" style="color:#3F21D6;text-decoration:none"  href="https://forms.gle/GVFRQzYbXxWx76ik7">Contact us!</a></strong></span>
            			</p>
            		</div>
            	</blockquote>
        	</div>

    	</div>

</div>
</div>

<div class="darker">
	<div class="container">

        <h2 class="editable">
            Our Partners
        </h2>

    	<div class="partnercolumns">

    	    <!--First Column-->
    		<div>
            	 <!--row 1-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="noborderimage"><img class="partnerimage" src="{{ site.baseurl }}images/partners/itworks.png" alt="itworks" /></span>
            			</p>
            		</div>

            	 <!--row 2-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="noborderimage"><img class="partnerimage" src="{{ site.baseurl }}images/partners/ydata.png" alt="itworks" /></span>
            			</p>
            		</div>

            	 <!--row 3-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="noborderimage"><img class="partnerimage" src="{{ site.baseurl }}images/partners/empty.png" alt="itworks" /></span>
            			</p>
            		</div>

        	</div>

        	<!--Second Column-->
    		<div>
            	 <!--row 1-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="noborderimage"><img class="partnerimage" src="{{ site.baseurl }}/images/partners/iia.png" alt="Israel Innovation Authority" /></span>
            			</p>
            		</div>

            	 <!--row 2-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="noborderimage"><img class="partnerimage" src="{{ site.baseurl }}images/partners/hasoub.png" alt="itworks" /></span>
            			</p>
            		</div>

            	 <!--row 3-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="noborderimage"><img class="partnerimage" src="{{ site.baseurl }}images/partners/dagshub.png" alt="itworks" /></span>
            			</p>
            		</div>

        	</div>

        	<!--Third Column-->
    		<div>
            	 <!--row 1-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="noborderimage"><img class="partnerimage" src="{{ site.baseurl }}images/partners/technion.png" alt="The Technion" /></span>
            			</p>
            		</div>

            	 <!--row 2-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="noborderimage"><img class="partnerimage" src="{{ site.baseurl }}images/partners/forter.png" alt="itworks" /></span>
            			</p>
            		</div>

            	 <!--row 3-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="noborderimage"><img class="partnerimage" src="{{ site.baseurl }}images/partners/leo.png" alt="itworks" /></span>
            			</p>
            		</div>

        	</div>

        	<!--Forth Column-->
    		<div>
            	 <!--row 1-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="noborderimage"><img class="partnerimage" src="{{ site.baseurl }}images/partners/tsofen.png" alt="Tsofen" /></span>
            			</p>
            		</div>

            	 <!--row 2-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="noborderimage"><img class="partnerimage" src="{{ site.baseurl }}images/partners/baot.png" alt="itworks" /></span>
            			</p>
            		</div>

            	 <!--row 3-->
            		<div class="attribute">
            			<p class="meta">
            				<span class="noborderimage"><img class="partnerimage" src="{{ site.baseurl }}images/partners/empty.png" alt="itworks" /></span>
            			</p>
            		</div>

        	</div>

    	</div>
</div>


<!--<div class="container" id="donate">-->
<!--	<h2 class="editable">-->
<!--		Make a donation-->
<!--	</h2>-->
<!--	<div class="donate">-->
<!--		{{ site.donation_embed }}-->
<!--	</div>-->
<!--</div>-->

<!--<div class="darker">-->
<!--	<div class="container">-->
<!--		<h2 class="editable">-->
<!--			Updates-->
<!--		</h2>-->
<!--		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>-->
<!--		<div class="posts">-->
<!--			{% for post in site.posts %}-->
<!--				<div class="post">-->
<!--					<div class="image" style="background-image: url({{ post.featured_image}})"></div>-->
<!--					<div class="post-content">-->
<!--						<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>-->
<!--						<h3>{{ post.title }}</h3>-->

<!--						{{ post.content }}-->
<!--						<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p>-->
<!--					</div>-->
<!--				</div>-->
<!--			{% endfor %}-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
