---
layout: default
title: Datahack
---

<header>
	<div class="container">
		<div class="column">
			<div>
			    <div class="container">
			        <!--<div class="column" width="20%">-->
			        <!--    <img src="{{ site.baseurl }}/images/dhlogo.svg" alt="Datahack"  height="10%" />-->
			             <!--style="float:left"-->
			        <!--</div>-->
			        <!--<div class="column" width="80%">-->
			            <img src="{{ site.baseurl }}/images/dhlogo.svg" alt="Datahack" height="40%"/>
			            <h1 class="editable" style="position:bottom;display:block">
			                 <!--<img src="{{ site.baseurl }}/images/dhlogo.svg" alt="Datahack"  height="1em" style="float:bottom" />-->
			                Datahack
			            </h1>
			        <!--</div>-->
                    <!--<img src="{{ site.baseurl }}/images/dhlogo_no_text.png" alt="Datahack" />-->
                    
                    
                </div>
				
				<p class="editable">
					The Association for The Advancement of Data Science In Israel
				</p>
				<!--<div class="button">-->
				<!--	<a href="#donate">Donate Now</a>-->
				<!--</div>-->
			</div>
		</div>
		<!--<div class="column">-->
		<!--	<img src="{{ site.baseurl }}/images/dhlogo_no_text.png" alt="Datahack"  width="70%" height="70%" />-->
		<!--</div>-->
	</div>
</header>

<div class="container">
	<h2 class="editable" style="text-align: center;">
		Our Projects
	</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="meetup" %}</div>
			<h3 class="editable">
				<a href="https://www.meetup.com/DataHack/" target="_blank" style="color:#3F21D6;text-decoration:none">DataTalks</a>
			</h3>
			<p class="editable">
				An meetup series of deep technical ML talks pairing industry with academia speakers, each hosted at a different company.
			</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="hack" %}</div>
			<h3 class="editable">
				<text style="color:#3F21D6">DataHack</text>
			</h3>
			<p class="editable">
				A 3-day, yearly hackathon, drawing 350 participants and dozens of sponsoring companies to solve real-life problems with data science.
			</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="conf" %}</div>
			<h3 class="editable">
				<a href="https://www.dataconf.org" target="_blank" style="color:#3F21D6;text-decoration:none">DataConf</a>
			</h3>
			<p class="editable">
				A yearly one-day free conference on data science and ML, with lectures by industry and academia experts.
			</p>
		</li>
	</ul>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="moon" %}</div>
			<h3 class="editable">
				<text style="color:#3F21D6;text-decoration:none">DataNights</text>
			</h3>
			<p class="editable">
				A series of hands-on learning sessions around a specific topic over several weeks. Women-only cohorts done in cooperation with <a href="https://extend-tech.com/baot" target="_blank">Baot</a>.
			</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="kaggle" %}</div>
			<h3 class="editable">
				<a href="https://www.facebook.com/groups/kaggleil/" target="_blank" style="color:#3F21D6;text-decoration:none">KaggleIL</a>
			</h3>
			<p class="editable">
				A community of <a href="https://www.kaggle.com/">Kaggle</a> practitioners gathering for shared work and knowledge sharing around ongoing Kaggle competitions.
			</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="haifa" %}</div>
			<h3 class="editable">
				<a href="https://www.meetup.com/Datahack-Haifa/" target="_blank" style="color:#3F21D6;text-decoration:none">DataTalks HFA</a>
			</h3>
			<p class="editable">
				A Haifa-based meetup group with both a series of deep ML lectures and the DataLearn HFA learning group.
			</p>
		</li>
	</ul>
</div>

<div class="container">
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/datahack_crowd_circle.png" alt="The Datahackers gather..." />
		</div>
		<div>
			<h2 class="editable">
				Our Mission
			</h2>

			<p class="editable">
				Datahack is an Israeli non-profit dedicated to the advancement of data science and machine learning in Israel. We focus on strengthening academia-industry ties, data science literacy and education, intra-community cohesion and knowledge sharing and empowerment of underrepresented populations.
			</p>
		</div>
	</div>
</div>

<!--<div class="container">-->
<!--	<hr />-->
<!--	<blockquote>-->
<!--		<p class="quote editable">-->
<!--			The ultimate measure of a sheep is not where he stands in moments of comfort and convenience, but where he stands at times of challenge and controversy.-->
<!--		</p>-->
<!--		<div class="attribute">-->
<!--			<p class="meta">-->
<!--				<span class="image"><img class="editable" src="/images/wooly.jpg" alt="Wooly" /></span>-->
<!--				<span class="author editable"><strong>Wooly McBaa</strong></span>-->
<!--			</p>-->
<!--		</div>-->
<!--	</blockquote>-->
<!--</div>-->

<div class="darker">
	<div class="container">
		<h2 class="editable">
			Join us
		</h2>
		<p class="editable" style="text-align: center;">
			Sign up for our newsletter to hear about our events and project launches!
		</p>
		<form action="{{ site.newsletter_action }}" method="post">
			<input type="text" name="EMAIL" placeholder="Email" />
			<input type="submit" value="Sign up" />
		</form>
	</div>
</div>

<!--<div class="container" id="donate">-->
<!--	<h2 class="editable">-->
<!--		Make a donation-->
<!--	</h2>-->
<!--	<div class="donate">-->
<!--		{{ site.donation_embed }}-->
<!--	</div>-->
<!--</div>-->

<!--<div class="darker">-->
<!--	<div class="container">-->
<!--		<h2 class="editable">-->
<!--			Updates-->
<!--		</h2>-->
<!--		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>-->
<!--		<div class="posts">-->
<!--			{% for post in site.posts %}-->
<!--				<div class="post">-->
<!--					<div class="image" style="background-image: url({{ post.featured_image}})"></div>-->
<!--					<div class="post-content">-->
<!--						<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>-->
<!--						<h3>{{ post.title }}</h3>-->

<!--						{{ post.content }}-->
<!--						<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p>-->
<!--					</div>-->
<!--				</div>-->
<!--			{% endfor %}-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
